openapi: 3.0.3
info:
  title: Board Service API
  description: API для сервиса коллаборативных досок (аналог Miro)
  version: 1.0.0
  contact:
    name: API Support

servers:
  - url: https://api.boardservice.com/v1
    description: Production server
  - url: https://api-dev.boardservice.com/v1
    description: Development server

tags:
  - name: Auth
    description: Аутентификация и регистрация
  - name: Boards
    description: Управление досками
  - name: Stickers
    description: Управление стикерами
  - name: Sharing
    description: Управление доступом к доскам

paths:
  /auth/register:
    post:
      tags:
        - Auth
      summary: Регистрация нового пользователя
      description: Создание нового аккаунта пользователя
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - login
                - password
              properties:
                login:
                  type: string
                  minLength: 3
                  maxLength: 50
                  example: "user@example.com"
                  description: Уникальный логин пользователя
                password:
                  type: string
                  minLength: 8
                  maxLength: 100
                  format: password
                  example: "SecurePass123!"
                  description: Пароль (минимум 8 символов)
                displayName:
                  type: string
                  maxLength: 100
                  example: "Иван Иванов"
                  description: Отображаемое имя пользователя
      responses:
        '201':
          description: Пользователь успешно зарегистрирован
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440000"
                  login:
                    type: string
                    example: "user@example.com"
                  displayName:
                    type: string
                    example: "Иван Иванов"
                  token:
                    type: string
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                    description: JWT токен для авторизации
                  createdAt:
                    type: string
                    format: date-time
                    example: "2024-01-15T10:30:00Z"
        '400':
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Пользователь с таким логином уже существует
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags:
        - Auth
      summary: Вход в систему
      description: Аутентификация пользователя и получение токена
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - login
                - password
              properties:
                login:
                  type: string
                  example: "user@example.com"
                password:
                  type: string
                  format: password
                  example: "SecurePass123!"
      responses:
        '200':
          description: Успешная аутентификация
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440000"
                  login:
                    type: string
                    example: "user@example.com"
                  displayName:
                    type: string
                    example: "Иван Иванов"
                  token:
                    type: string
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                    description: JWT токен для авторизации
                  expiresAt:
                    type: string
                    format: date-time
                    example: "2024-01-16T10:30:00Z"
        '401':
          description: Неверный логин или пароль
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /boards:
    post:
      tags:
        - Boards
      summary: Создание новой доски
      description: Создание новой доски для текущего пользователя
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  minLength: 1
                  maxLength: 200
                  example: "Проектирование новой системы"
                  description: Название доски
                description:
                  type: string
                  maxLength: 1000
                  example: "Доска для обсуждения архитектуры"
                  description: Описание доски
                backgroundColor:
                  type: string
                  pattern: '^#[0-9A-Fa-f]{6}$'
                  example: "#FFFFFF"
                  description: Цвет фона доски (hex формат)
                isPublic:
                  type: boolean
                  default: false
                  example: false
                  description: Публичная ли доска (доступна всем по ссылке)
      responses:
        '201':
          description: Доска успешно создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
        '400':
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      tags:
        - Boards
      summary: Получение списка досок
      description: Получение списка досок текущего пользователя (собственных и расшаренных)
      security:
        - bearerAuth: []
      parameters:
        - name: filter
          in: query
          description: Фильтр досок
          schema:
            type: string
            enum: [own, shared, all]
            default: all
        - name: page
          in: query
          description: Номер страницы
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Количество элементов на странице
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: sortBy
          in: query
          description: Поле для сортировки
          schema:
            type: string
            enum: [createdAt, updatedAt, title]
            default: updatedAt
        - name: sortOrder
          in: query
          description: Порядок сортировки
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        '200':
          description: Список досок успешно получен
          content:
            application/json:
              schema:
                type: object
                properties:
                  boards:
                    type: array
                    items:
                      $ref: '#/components/schemas/BoardSummary'
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                        example: 1
                      limit:
                        type: integer
                        example: 20
                      total:
                        type: integer
                        example: 45
                        description: Общее количество досок
                      totalPages:
                        type: integer
                        example: 3
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /boards/{boardId}:
    get:
      tags:
        - Boards
      summary: Получение доски по ID
      description: Получение полной информации о доске, включая все стикеры
      security:
        - bearerAuth: []
      parameters:
        - name: boardId
          in: path
          required: true
          description: ID доски
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Доска успешно получена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardDetail'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Нет доступа к доске
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Доска не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      tags:
        - Boards
      summary: Обновление доски
      description: Обновление настроек доски
      security:
        - bearerAuth: []
      parameters:
        - name: boardId
          in: path
          required: true
          description: ID доски
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  minLength: 1
                  maxLength: 200
                  example: "Обновленное название"
                description:
                  type: string
                  maxLength: 1000
                  example: "Обновленное описание"
                backgroundColor:
                  type: string
                  pattern: '^#[0-9A-Fa-f]{6}$'
                  example: "#F0F0F0"
                isPublic:
                  type: boolean
                  example: false
      responses:
        '200':
          description: Доска успешно обновлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
        '400':
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Нет прав на редактирование
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Доска не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags:
        - Boards
      summary: Удаление доски
      description: Удаление доски (только владелец)
      security:
        - bearerAuth: []
      parameters:
        - name: boardId
          in: path
          required: true
          description: ID доски
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Доска успешно удалена
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Нет прав на удаление (только владелец может удалить)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Доска не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /boards/{boardId}/stickers:
    post:
      tags:
        - Stickers
      summary: Создание стикера
      description: Добавление нового стикера на доску
      security:
        - bearerAuth: []
      parameters:
        - name: boardId
          in: path
          required: true
          description: ID доски
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - x
                - y
              properties:
                x:
                  type: number
                  format: float
                  example: 100.5
                  description: Координата X стикера на доске
                y:
                  type: number
                  format: float
                  example: 200.3
                  description: Координата Y стикера на доске
                width:
                  type: number
                  format: float
                  minimum: 50
                  maximum: 1000
                  default: 200
                  example: 200
                  description: Ширина стикера в пикселях
                height:
                  type: number
                  format: float
                  minimum: 50
                  maximum: 1000
                  default: 200
                  example: 200
                  description: Высота стикера в пикселях
                color:
                  type: string
                  pattern: '^#[0-9A-Fa-f]{6}$'
                  default: "#FFEB3B"
                  example: "#FFEB3B"
                  description: Цвет стикера (hex формат)
                text:
                  type: string
                  maxLength: 5000
                  default: ""
                  example: "Текст стикера"
                  description: Текстовое содержимое стикера
                zIndex:
                  type: integer
                  default: 0
                  example: 1
                  description: Z-индекс для определения порядка наложения
      responses:
        '201':
          description: Стикер успешно создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sticker'
        '400':
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Нет доступа к доске
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Доска не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /boards/{boardId}/stickers/{stickerId}:
    patch:
      tags:
        - Stickers
      summary: Обновление стикера
      description: Обновление параметров стикера (координаты, размер, цвет, текст)
      security:
        - bearerAuth: []
      parameters:
        - name: boardId
          in: path
          required: true
          description: ID доски
          schema:
            type: string
            format: uuid
        - name: stickerId
          in: path
          required: true
          description: ID стикера
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                x:
                  type: number
                  format: float
                  example: 150.5
                  description: Новая координата X
                y:
                  type: number
                  format: float
                  example: 250.3
                  description: Новая координата Y
                width:
                  type: number
                  format: float
                  minimum: 50
                  maximum: 1000
                  example: 250
                  description: Новая ширина стикера
                height:
                  type: number
                  format: float
                  minimum: 50
                  maximum: 1000
                  example: 250
                  description: Новая высота стикера
                color:
                  type: string
                  pattern: '^#[0-9A-Fa-f]{6}$'
                  example: "#FF5722"
                  description: Новый цвет стикера
                text:
                  type: string
                  maxLength: 5000
                  example: "Обновленный текст"
                  description: Новый текст стикера
                zIndex:
                  type: integer
                  example: 2
                  description: Новый z-индекс
      responses:
        '200':
          description: Стикер успешно обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sticker'
        '400':
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Нет доступа к доске
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Доска или стикер не найдены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags:
        - Stickers
      summary: Удаление стикера
      description: Удаление стикера с доски
      security:
        - bearerAuth: []
      parameters:
        - name: boardId
          in: path
          required: true
          description: ID доски
          schema:
            type: string
            format: uuid
        - name: stickerId
          in: path
          required: true
          description: ID стикера
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Стикер успешно удален
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Нет доступа к доске
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Доска или стикер не найдены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /boards/{boardId}/stickers/{stickerId}/move:
    post:
      tags:
        - Stickers
      summary: Перемещение стикера
      description: Изменение позиции стикера на доске
      security:
        - bearerAuth: []
      parameters:
        - name: boardId
          in: path
          required: true
          description: ID доски
          schema:
            type: string
            format: uuid
        - name: stickerId
          in: path
          required: true
          description: ID стикера
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - x
                - y
              properties:
                x:
                  type: number
                  format: float
                  example: 300.5
                  description: Новая координата X
                y:
                  type: number
                  format: float
                  example: 400.3
                  description: Новая координата Y
      responses:
        '200':
          description: Стикер успешно перемещен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sticker'
        '400':
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Нет доступа к доске
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Доска или стикер не найдены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /boards/{boardId}/stickers/{stickerId}/resize:
    post:
      tags:
        - Stickers
      summary: Изменение размера стикера
      description: Изменение ширины и высоты стикера
      security:
        - bearerAuth: []
      parameters:
        - name: boardId
          in: path
          required: true
          description: ID доски
          schema:
            type: string
            format: uuid
        - name: stickerId
          in: path
          required: true
          description: ID стикера
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - width
                - height
              properties:
                width:
                  type: number
                  format: float
                  minimum: 50
                  maximum: 1000
                  example: 300
                  description: Новая ширина стикера
                height:
                  type: number
                  format: float
                  minimum: 50
                  maximum: 1000
                  example: 300
                  description: Новая высота стикера
      responses:
        '200':
          description: Размер стикера успешно изменен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sticker'
        '400':
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Нет доступа к доске
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Доска или стикер не найдены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /boards/{boardId}/stickers/{stickerId}/color:
    post:
      tags:
        - Stickers
      summary: Изменение цвета стикера
      description: Изменение цвета фона стикера
      security:
        - bearerAuth: []
      parameters:
        - name: boardId
          in: path
          required: true
          description: ID доски
          schema:
            type: string
            format: uuid
        - name: stickerId
          in: path
          required: true
          description: ID стикера
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - color
              properties:
                color:
                  type: string
                  pattern: '^#[0-9A-Fa-f]{6}$'
                  example: "#4CAF50"
                  description: Новый цвет стикера (hex формат)
      responses:
        '200':
          description: Цвет стикера успешно изменен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sticker'
        '400':
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Нет доступа к доске
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Доска или стикер не найдены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /boards/{boardId}/stickers/{stickerId}/text:
    post:
      tags:
        - Stickers
      summary: Изменение текста стикера
      description: Обновление текстового содержимого стикера
      security:
        - bearerAuth: []
      parameters:
        - name: boardId
          in: path
          required: true
          description: ID доски
          schema:
            type: string
            format: uuid
        - name: stickerId
          in: path
          required: true
          description: ID стикера
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  maxLength: 5000
                  example: "Новый текст стикера"
                  description: Новое текстовое содержимое
      responses:
        '200':
          description: Текст стикера успешно изменен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sticker'
        '400':
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Нет доступа к доске
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Доска или стикер не найдены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /boards/{boardId}/share:
    post:
      tags:
        - Sharing
      summary: Предоставление доступа к доске
      description: Выдача прав пользователю на доступ к доске
      security:
        - bearerAuth: []
      parameters:
        - name: boardId
          in: path
          required: true
          description: ID доски
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - permission
              properties:
                userId:
                  type: string
                  format: uuid
                  example: "660e8400-e29b-41d4-a716-446655440000"
                  description: ID пользователя, которому предоставляется доступ
                permission:
                  type: string
                  enum: [view, edit, admin]
                  example: "edit"
                  description: |
                    Уровень доступа:
                    - view: только просмотр
                    - edit: просмотр и редактирование
                    - admin: полный доступ (включая управление доступом)
      responses:
        '200':
          description: Доступ успешно предоставлен
          content:
            application/json:
              schema:
                type: object
                properties:
                  boardId:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440000"
                  userId:
                    type: string
                    format: uuid
                    example: "660e8400-e29b-41d4-a716-446655440000"
                  permission:
                    type: string
                    enum: [view, edit, admin]
                    example: "edit"
                  grantedAt:
                    type: string
                    format: date-time
                    example: "2024-01-15T10:30:00Z"
                  grantedBy:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440000"
                    description: ID пользователя, предоставившего доступ
        '400':
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Нет прав на управление доступом
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Доска или пользователь не найдены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      tags:
        - Sharing
      summary: Получение списка пользователей с доступом
      description: Получение списка всех пользователей, имеющих доступ к доске
      security:
        - bearerAuth: []
      parameters:
        - name: boardId
          in: path
          required: true
          description: ID доски
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Список пользователей успешно получен
          content:
            application/json:
              schema:
                type: object
                properties:
                  boardId:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440000"
                  shares:
                    type: array
                    items:
                      type: object
                      properties:
                        userId:
                          type: string
                          format: uuid
                          example: "660e8400-e29b-41d4-a716-446655440000"
                        userLogin:
                          type: string
                          example: "user2@example.com"
                        displayName:
                          type: string
                          example: "Петр Петров"
                        permission:
                          type: string
                          enum: [view, edit, admin]
                          example: "edit"
                        grantedAt:
                          type: string
                          format: date-time
                          example: "2024-01-15T10:30:00Z"
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Нет доступа к доске
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Доска не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /boards/{boardId}/share/{userId}:
    delete:
      tags:
        - Sharing
      summary: Отзыв доступа к доске
      description: Удаление прав пользователя на доступ к доске
      security:
        - bearerAuth: []
      parameters:
        - name: boardId
          in: path
          required: true
          description: ID доски
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          description: ID пользователя, у которого отзывается доступ
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Доступ успешно отозван
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Нет прав на управление доступом
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Доска, пользователь или доступ не найдены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT токен, полученный при входе/регистрации

  schemas:
    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          example: "VALIDATION_ERROR"
          description: Код ошибки
        message:
          type: string
          example: "Некорректные данные запроса"
          description: Человекочитаемое описание ошибки
        details:
          type: object
          description: Дополнительная информация об ошибке
          example:
            field: "login"
            reason: "Логин уже занят"

    Board:
      type: object
      required:
        - boardId
        - title
        - ownerId
        - createdAt
        - updatedAt
      properties:
        boardId:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
          description: Уникальный идентификатор доски
        title:
          type: string
          example: "Проектирование системы"
          description: Название доски
        description:
          type: string
          example: "Доска для обсуждения архитектуры"
          description: Описание доски
        ownerId:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
          description: ID владельца доски
        ownerName:
          type: string
          example: "Иван Иванов"
          description: Имя владельца доски
        backgroundColor:
          type: string
          example: "#FFFFFF"
          description: Цвет фона доски
        isPublic:
          type: boolean
          example: false
          description: Публичная ли доска
        createdAt:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
          description: Дата и время создания
        updatedAt:
          type: string
          format: date-time
          example: "2024-01-15T14:25:00Z"
          description: Дата и время последнего обновления

    BoardSummary:
      type: object
      required:
        - boardId
        - title
        - ownerId
        - permission
        - updatedAt
      properties:
        boardId:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        title:
          type: string
          example: "Проектирование системы"
        description:
          type: string
          example: "Доска для обсуждения архитектуры"
        ownerId:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        ownerName:
          type: string
          example: "Иван Иванов"
        permission:
          type: string
          enum: [owner, view, edit, admin]
          example: "owner"
          description: Права текущего пользователя на доску
        stickerCount:
          type: integer
          example: 15
          description: Количество стикеров на доске
        isPublic:
          type: boolean
          example: false
        updatedAt:
          type: string
          format: date-time
          example: "2024-01-15T14:25:00Z"

    BoardDetail:
      allOf:
        - $ref: '#/components/schemas/Board'
        - type: object
          properties:
            stickers:
              type: array
              items:
                $ref: '#/components/schemas/Sticker'
              description: Список всех стикеров на доске
            permission:
              type: string
              enum: [owner, view, edit, admin]
              example: "owner"
              description: Права текущего пользователя на доску

    Sticker:
      type: object
      required:
        - stickerId
        - boardId
        - x
        - y
        - width
        - height
        - color
        - createdAt
        - updatedAt
      properties:
        stickerId:
          type: string
          format: uuid
          example: "770e8400-e29b-41d4-a716-446655440000"
          description: Уникальный идентификатор стикера
        boardId:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
          description: ID доски, к которой относится стикер
        x:
          type: number
          format: float
          example: 100.5
          description: Координата X стикера на доске
        y:
          type: number
          format: float
          example: 200.3
          description: Координата Y стикера на доске
        width:
          type: number
          format: float
          example: 200
          description: Ширина стикера в пикселях
        height:
          type: number
          format: float
          example: 200
          description: Высота стикера в пикселях
        color:
          type: string
          example: "#FFEB3B"
          description: Цвет стикера (hex формат)
        text:
          type: string
          example: "Текст стикера"
          description: Текстовое содержимое стикера
        zIndex:
          type: integer
          example: 1
          description: Z-индекс для определения порядка наложения
        createdBy:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
          description: ID пользователя, создавшего стикер
        createdAt:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
          description: Дата и время создания
        updatedAt:
          type: string
          format: date-time
          example: "2024-01-15T14:25:00Z"
          description: Дата и время последнего обновления
