@import "tailwindcss";

:root {
  --background: #5a5a5a;
  --foreground: #171717;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input::placeholder {
  opacity: 1;
}
